@model FiscalInfoApp.Web.ViewModels.FuelTank.FuelTankListViewModel

@{
    ViewData["Title"] = "All Fuel Tanks";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Fuel Tank</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><label>Tank Number in PetrolStation</label></th>
            <th><label>Full Volume in liters</label></th>
            <th><label>Tank Diameter in cm</label></th>
            <th><label>Fuel Type</label></th>
            <th><label>Calibration Date of Tank</label></th>
            <th><label>Petrol Station Name</label></th>
            <th><label>Petrol Station City</label></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FuelTanks)
        {
            <tr>
                <td>@item.TankNumber</td>
                <td>@item.FullVolume</td>
                <td>@item.Diameter</td>
                <td>@item.FuelType</td>
                <td>@item.CalibrationDate</td>
                <td>@item.PetrolStationName</td>
                <td>@item.PetrolStationCity</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<partial name="_PagingPartialAll.cshtml" model="@Model" />
